*.xml
allofplos_xml/
*.zip
*.log
.ipynb_checkpoints/*
*.nxml
*.json
*.swp
*.pyc
*.js
!requirements.txt
*.xlsx
*.csv
!doi_to_pmc.csv
*.iml
*/.ipynb_checkpoints/*
zip_info.txt
!tests/testdata/journal.pbio.2001413.xml
!tests/testdata/plos.correction.3155a3e9-5fbe-435c-a07a-e9a4846ec0b6.xml
!tests/testdata/journal.pone.0185809.xml