[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allofplos = {editable = true, path = "./"}
certifi = "*"
chardet = "*"
charset-normalizer = "*"
idna = "*"
lxml = "*"
peewee = "*"
python-utils = "*"
requests = "*"
six = "*"
tqdm = "*"
unidecode = "*"
urllib3 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
