certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
lxml==4.0.0
progressbar2==3.34.3
python-utils==2.2.0
requests==2.18.4
six==1.11.0
tqdm==4.17.1
unidecode==0.04.21
urllib3==1.22
pureyaml==0.1.0
peewee==2.10.2
beautifulsoup4==4.6.0
