asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
colorama==0.3.9
cryptography==2.0.3
idna==2.6
keyring==10.4.0
lxml==4.0.0
progressbar2==3.34.3
pycparser==2.18
pyftpsync==1.0.3
python-utils==2.2.0
requests==2.18.4
SecretStorage==2.3.1
six==1.11.0
tqdm==4.17.1
urllib3==1.22
